[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "binsmooth"]
	path = binsmooth
	url = https://github.com/cran/binsmooth
	shallow = true
	registered = true
